body {
    margin: 0;
}


.container {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 50vw;
    height: 20vh;
    font-size: 3vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.box button {
    height: 10vh;
    width: 40vw;
    margin: 1vh;
    color: black;
    background:white;
    border: 1px solid #000;
    transition: 0.5s;
}
.box button:hover{
    background: black;
    color: white;
    transition: 0.5s;

}
