body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 21px;
}

.box {
    height: 300px;
    font-size: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 1);
    border: rgba(0, 0, 0, 1) solid 1px;
    text-align: center;
    flex: 1 1 24%;
}

button {
    width: 100px;
    height: 50px;
    border: 1px rgba(0, 0, 0, 1) solid;
    margin-top: 21px;
    color: rgba(0, 0, 0, 1);
    background: white;
    transition: 0.5s;


}

button:hover {
    color: white;
    transition: 0.5s;
    background: rgba(0, 0, 0, 1);

}

.postInfo {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

#commentsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

h1,h2 {
    text-align: center;

}