body{
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
}

a{
    display: flex;
    align-items: center;
    margin: 3vh 3vw 0 0;
    text-decoration: none;
}

.box {
    width: 20vw;
    height: 40vh;
    font-size: 3vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    border: black solid 1px;
    text-align: center;
    margin-top: 5vh;
}

button {
    height: 6vh;
    width: 9vw;
    border: 1px black solid;
    margin: 1vh;
    color: black;
    background: white;
    transition: 0.5s;
}
button:hover {
    color: white;
    transition: 0.5s;
    background: black;

}

.postInfo{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 2vw;
    border-bottom: 1px solid black;
}

#commentsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 3vw 3vw 3vw ;
}

h1,h2 {
    margin: 3vh 0 0 3vw ;
}