body {
    margin: 0;
}

h1, h2 {
    margin: 0;
    color: rgba(0, 0, 0, 1);
}

h2 {
    text-align: center;
    margin: 20px 0;
}

.userInfo {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.header {
    margin: 10px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    height: 60px;
    width: 200px;
    border: 1px rgba(0, 0, 0, 1) solid;
    margin: 10px;
    color: rgba(0, 0, 0, 1);
    background: rgba(255, 255, 255, 1);
    transition: 0.5s;
    cursor: pointer;
}

button:hover {
    color: rgba(255, 255, 255, 1);
    transition: 0.5s;
    background: rgba(0, 0, 0, 1);

}

.postsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.box {
    height: 40vh;
    font-size: 16px;
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 1);
    border: rgba(0, 0, 0, 1) 1px solid;
    text-align: center;
    transition: 0.2s;
    cursor: pointer;
    flex: 1 1 17%;
}

.box:hover {
    scale: 0.95 0.95;
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    transition: 0.2s;
}

