body {
    margin: 0;
}

h1,h2 {
    margin: 0;
    color: #ccc;
}

h2{
    text-align: center;
    margin-top: 2vh ;
}


hr {
    margin: 0;
    border-top: 1px dotted #ccc;
}

.bold-p {
    margin: 0;
    padding: 2vw;
    font-weight: bold;
}

.userInfo {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 2vw;
    border-bottom: 1px solid #ccc;
}

.header {
    margin: 3vh 0 3vh 0;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

button {
    height: 10vh;
    width: 20vw;
    border: 0;
    box-shadow: 0 0 2px 0 rgba(37, 37, 37, 0.75);
    margin: 1vh;
    color: #ccc;
    background: white;
    border-radius: 2vw;
    transition: 0.5s;
}
button:hover {
    color: #a2a2a2;
    transition: 0.5s;
    background: #e5e4e4;

}

.postsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box {
    width: 18vw;
    height: 40vh;
    font-size: 3vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #bebebe;
    border: rgb(128, 128, 128) solid 1px;
    text-align: center;
    margin-top: 4vh;
    transition: 0.2s;
}
.box:hover{
    scale: 0.95 0.95;
    transition: 0.2s;
}
a{
    text-decoration: none;
}

